.Threesection {
  text-align: center;
  margin-bottom: 3vh;
}
.Threesection .slick-initialized .slick-slide{
  padding: 20px;
}
.Threesection h1 {
  font-size: 2.5rem;
}

.ThreeSectionSlider {
  width: 90%;
  margin: 0 auto;
}

.ThreeSectionSlider .slick-slide {
  display: flex;
  justify-content: center;
  padding: 0 5px;
}

.ExpertiseCards {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
  width: 100%;
  max-width: 450px;
  height: 350px;
  cursor: pointer;
  text-align: center;
  position: relative;
  padding: 1rem;
  border: 2px solid transparent;
}

.ExpertiseCards:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border: 2px solid #007bff;
  box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}

.OneCardMain {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.OneCardMain img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.OneCardFooter {
  padding: 1rem;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity 0.3s ease;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ExpertiseCards:hover .OneCardFooter {
  opacity: 1;
}

.OneCardFooter h3 {
  font-size: 1rem;
  margin: 0.5rem 0;
  color: #333;
}

.OneCardFooter p {
  font-size: 0.8rem;
  color: #666;
  margin: 0;
  text-align: center;
}

.slick-dots {
  bottom: -30px;
}

@media (max-width: 768px) {
  .Threesection h1 {
    font-size: 1.8rem;
  }

  .OneCardMain {
    height: 150px;
  }

  .OneCardFooter h3 {
    font-size: 1rem;
  }

  .OneCardFooter p {
    font-size: 0.8rem;
  }

  .ExpertiseCards {
    max-width: 300px;
    height: 300px;
  }
}

@media (max-width: 480px) {
  .Threesection h1 {
    font-size: 1.5rem;
  }

  .OneCardMain {
    height: 120px;
  }

  .OneCardFooter h3 {
    font-size: 0.9rem;
  }

  .OneCardFooter p {
    font-size: 0.75rem;
  }

  .ExpertiseCards {
    max-width: 300px;
  }
}
