.chat-widget {
    position: fixed;
    bottom: 20px;   
    right: 20px;    
    z-index: 999999999999000;   
}


.chat-button {
    background-color: #007bff; 
    color: white;            
    border: none;           
    border-radius: 50%;    
    padding: 10px 10px;    
    cursor: pointer;   
    font-size: 38px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s; 
    width: 60px;
    height: 60px;
    animation: messageBounce 1s ease-in-out infinite;
}
@keyframes messageBounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-6px);
    }
    100% {
      transform: translateY(0);
    }
  }
.chat-button:hover {
    background-color: #0056b3; 
    transform: scale(1.05); 
}

.chat-box {
    background-color: #fff;    
    border: 1px solid #ddd;  
    border-radius: 5px;     
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 300px;             
    max-height: 400px;        
    overflow-y: auto;        
    position: relative;       
}

.chat-header {
    background-color: #007bff; 
    color: white;             
    padding: 10px;            
    border-top-left-radius: 5px;  
    border-top-right-radius: 5px; 
    position: relative;       
}

.close-button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
    padding: 0;
    margin: 0;
    transition: color 0.3s;
}

.close-button:hover {
    color: #ffdddd; 
}

.chat-messages {
    padding: 10px;          
    height: 300px;           
    overflow-y: auto;        
}

.message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px; 
}

.message-icon {
    font-size: 24px; 
    margin-right: 10px; 
}

.message-text {
    background-color: #f1f1f1; 
    border-radius: 10px;
    padding: 10px; 
    max-width: 80%; 
}

.message.user .message-text {
    background-color: #007bff; 
    color: white; 
    text-align: right; 
}

.message.bot .message-text {
    background-color: #eee; 
    color: #333; 
    text-align: left; 
}

.waiting-message {
    margin-top: 10px;
    color: #888; 
    font-style: italic; 
}

.messagebuttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
}

.messagebuttons button {
    padding: 10px 5px;
    font-weight: 600;
    border: none;
    background-color: #337AB7;
    color: white;
}

.chat-input {
    width: calc(100% - 20px); 
    padding: 10px;            
    border: 1px solid #ddd;  
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px; 
}
