/* App.css */
.ModalAlert {
    font-family: Arial, sans-serif;
  }
  
  .ModalAlert  .alert {
    position: fixed;
    bottom: -100px; /* Başlangıçta gizli */
    left: 0;
    right: 0;
    background-color: #f8d7da;
    color: #721c24;
    padding: 20px;
    text-align: center;
    transition: bottom 0.5s ease-in-out;
  }
  
  .ModalAlert  .alert.show {
    bottom: 0; /* Görünür */
  }
  
  .ModalAlert  .notification {
    position: fixed;
    bottom: -100px; /* Başlangıçta gizli */
    left: 0;
    right: 0;
    background-color: #d4edda;
    color: #155724;
    padding: 20px;
    text-align: center;
    transition: bottom 0.5s ease-in-out;
  }
  
  .ModalAlert  .notification.show {
    bottom: 0; /* Görünür */
  }
  