.scroll-button {
    position: fixed;
    bottom: 90px;
    right: 20px;
    background-color: #007bff;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    overflow: hidden;
    z-index: 9;
  }
  
  .scroll-button.visible {
    opacity: 1;
  }
  
  .scroll-button i {
    font-size: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
  }
  
  .scroll-button:hover {
    background-color: #0056b3;
  }
  