.statistics {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.stat {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 350px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s, transform 0.3s;
  padding: 10px;
  text-align: center;
}

.stat:hover {
  background-color: #f0f8ff; /* Change background color on hover */
  transform: scale(1.05); /* Slightly enlarge on hover */
}

.stat-content {
  position: relative;
  z-index: 2;
}

.stat-number {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.stat p {
  font-size: 1rem;
  color: #666;
}

.stat-info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
  color: #fff;
  padding: 20px;
  text-align: center;
  opacity: 0; /* Hidden by default */
  transition: opacity 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
}

.stat:hover .stat-info {
  opacity: 1; /* Show on hover */
}
.stat-info p{
  color: white;
}